ETL DEL DATASET personas_tot.urb_3T_2022

IMPORTAMOS LAS LIBRRÍAS QUE VAMOS A UTILIZAR

In [1]:
import pandas as pd
import numpy as np

CARGAMOS LAS BASE DE DATOS

In [2]:
# Cargar los datos desde los archivos TXT

personas = pd.read_csv("personas_tot.urb_3T_2022.txt", sep=';', encoding='latin1')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8236\1923809744.py:3: DtypeWarning: Columns (63,66) have mixed types. Specify dtype option on import or set low_memory=False.
  personas = pd.read_csv("personas_tot.urb_3T_2022.txt", sep=';', encoding='latin1')

IDENTIFICACIÓN

In [15]:
# Seleccionar la columna de interés
componente = personas['COMPONENTE']

# Mostrar los primeros registros para verificar
print(componente.head())

0    1
1    6
2    3
3    3
4    1
Name: COMPONENTE, dtype: int64

CARACTERISTICAS DE LOS MIMBROS DEL HOGAR

In [3]:


# Contar el número de hombres (varones) y mujeres
conteo_sexo = personas['CH04'].value_counts()

# Mostrar el resultado
print("Número de varones (hombres):", conteo_sexo.get(1, 0))
print("Número de mujeres:", conteo_sexo.get(2, 0))

Número de varones (hombres): 37177
Número de mujeres: 40465

In [4]:


# Separar los datos por sexo
hombres = personas[personas['CH04'] == 1]  # Filtrar hombres
mujeres = personas[personas['CH04'] == 2]  # Filtrar mujeres

# Contar la cantidad de hombres por grupo de edad
conteo_hombres = hombres['CH06'].value_counts().sort_index()

# Contar la cantidad de mujeres por grupo de edad
conteo_mujeres = mujeres['CH06'].value_counts().sort_index()

# Mostrar los resultados
print("Hombres:")
print(conteo_hombres)
print("\nMujeres:")
print(conteo_mujeres)

Hombres:
CH06
-1     331
 1     369
 2     424
 3     523
 4     503
      ...
 94      9
 95      5
 96      4
 97      1
 98      4
Name: count, Length: 99, dtype: int64

Mujeres:
CH06
-1      337
 1      352
 2      441
 3      454
 4      548
       ...
 99       3
 100      2
 101      2
 102      1
 103      1
Name: count, Length: 104, dtype: int64

In [5]:
# Contar el número de personas según el estado civil
estado_civil_counts = personas['CH07'].value_counts()

# Crear un diccionario para mapear los códigos a los estados civiles correspondientes
mapeo_estado_civil = {
    1: 'Unido',
    2: 'Casado',
    3: 'Separado o divorciado',
    4: 'Viudo',
    5: 'Soltero'
}

# Crear una nueva columna 'Estado Civil' con los estados civiles mapeados
personas['Estado Civil'] = personas['CH07'].map(mapeo_estado_civil)

# Separar los datos por estado civil
unido = personas[personas['Estado Civil'] == 'Unido']
casado = personas[personas['Estado Civil'] == 'Casado']
separado_divorciado = personas[personas['Estado Civil'] == 'Separado o divorciado']
viudo = personas[personas['Estado Civil'] == 'Viudo']
soltero = personas[personas['Estado Civil'] == 'Soltero']

# Mostrar los resultados
print("Unido:", len(unido))
print("Casado:", len(casado))
print("Separado o divorciado:", len(separado_divorciado))
print("Viudo:", len(viudo))
print("Soltero:", len(soltero))

Unido: 13685
Casado: 15729
Separado o divorciado: 4516
Viudo: 4019
Soltero: 39693

In [6]:
# Contar el número de personas según el tipo de cobertura médica
cobertura_counts = personas['CH08'].value_counts()

# Crear un diccionario para mapear los códigos a los tipos de cobertura médica correspondientes
mapeo_cobertura = {
    1: 'Obra social',
    2: 'Mutual/prepaga/servicio de emergencia',
    3: 'Planes y seguros públicos',
    4: 'No paga ni le descuentan',
    9: 'Ns/Nr',
    12: 'Obra social y Mutual/prepaga/servicio de emergencia',
    13: 'Obra social y Planes y seguros públicos',
    23: 'Mutual/prepaga/servicio de emergencia y Planes y seguros públicos',
    123: 'Obra social, Mutual/prepaga/servicio de emergencia y Planes y seguros públicos'
}

# Crear una nueva columna 'Cobertura Médica' con los tipos de cobertura médica mapeados
personas['Cobertura Médica'] = personas['CH08'].map(mapeo_cobertura)

# Separar los datos por tipo de cobertura médica
obra_social = personas[personas['Cobertura Médica'].str.contains('Obra social', na=False)]
mutual_prepaga = personas[personas['Cobertura Médica'].str.contains('Mutual/prepaga/servicio de emergencia', na=False)]
planes_seguros_publicos = personas[personas['Cobertura Médica'].str.contains('Planes y seguros públicos', na=False)]
no_cobertura = personas[personas['Cobertura Médica'] == 'No paga ni le descuentan']
no_sabe_no_responde = personas[personas['Cobertura Médica'] == 'Ns/Nr']

# Mostrar los resultados
print("Obra Social:", len(obra_social))
print("Mutual/Prepaga/Servicio de Emergencia:", len(mutual_prepaga))
print("Planes y Seguros Públicos:", len(planes_seguros_publicos))
print("No paga ni le descuentan:", len(no_cobertura))
print("Ns/Nr:", len(no_sabe_no_responde))

Obra Social: 47321
Mutual/Prepaga/Servicio de Emergencia: 3066
Planes y Seguros Públicos: 2087
No paga ni le descuentan: 25977
Ns/Nr: 96

In [7]:
# Contar el número de personas que saben leer y escribir y los que no
sabe_leer_escribir = personas[personas['CH09'] == 1]
no_sabe_leer_escribir = personas[personas['CH09'] == 2]

# Mostrar los resultados
print("Personas que saben leer y escribir:", len(sabe_leer_escribir))
print("Personas que no saben leer y escribir:", len(no_sabe_leer_escribir))

Personas que saben leer y escribir: 71479
Personas que no saben leer y escribir: 4772

In [8]:
# Contar el número de personas que asisten, asistieron y nunca asistieron a un establecimiento educativo
asiste = personas[personas['CH10'] == 1]
asistio = personas[personas['CH10'] == 2]
nunca_asistio = personas[personas['CH10'] == 3]

# Mostrar los resultados
print("Personas que asisten a un establecimiento educativo:", len(asiste))
print("Personas que no asisten actualmente pero asistieron en el pasado:", len(asistio))
print("Personas que nunca asistieron a un establecimiento educativo:", len(nunca_asistio))

Personas que asisten a un establecimiento educativo: 23486
Personas que no asisten actualmente pero asistieron en el pasado: 50675
Personas que nunca asistieron a un establecimiento educativo: 2090

In [9]:
# Contar el número de personas que asisten o asistieron a establecimientos públicos y privados
publico = personas[personas['CH11'] == 1]
privado = personas[personas['CH11'] == 2]
ns_nr = personas[personas['CH11'] == 9]

# Mostrar los resultados
print("Personas que asisten o asistieron a un establecimiento público:", len(publico))
print("Personas que asisten o asistieron a un establecimiento privado:", len(privado))
print("Personas para las cuales no se sabe o no respondieron:", len(ns_nr))

Personas que asisten o asistieron a un establecimiento público: 19401
Personas que asisten o asistieron a un establecimiento privado: 4067
Personas para las cuales no se sabe o no respondieron: 20

In [10]:
# Contar el número de personas según el nivel educativo más alto cursado
nivel_jardin = personas[personas['CH12'] == 1]
nivel_primario = personas[personas['CH12'] == 2]
nivel_egb = personas[personas['CH12'] == 3]
nivel_secundario = personas[personas['CH12'] == 4]
nivel_polimodal = personas[personas['CH12'] == 5]
nivel_terciario = personas[personas['CH12'] == 6]
nivel_universitario = personas[personas['CH12'] == 7]
nivel_posgrado = personas[personas['CH12'] == 8]
nivel_educacion_especial = personas[personas['CH12'] == 9]

# Mostrar los resultados
print("Personas que cursaron o cursan Jardín/preescolar:", len(nivel_jardin))
print("Personas que cursaron o cursan Primario:", len(nivel_primario))
print("Personas que cursaron o cursan EGB:", len(nivel_egb))
print("Personas que cursaron o cursan Secundario:", len(nivel_secundario))
print("Personas que cursaron o cursan Polimodal:", len(nivel_polimodal))
print("Personas que cursaron o cursan Terciario:", len(nivel_terciario))
print("Personas que cursaron o cursan Universitario:", len(nivel_universitario))
print("Personas que cursaron o cursan Posgrado universitario:", len(nivel_posgrado))
print("Personas que cursaron o cursan Educación especial (discapacitado):", len(nivel_educacion_especial))

Personas que cursaron o cursan Jardín/preescolar: 2509
Personas que cursaron o cursan Primario: 20978
Personas que cursaron o cursan EGB: 1250
Personas que cursaron o cursan Secundario: 30327
Personas que cursaron o cursan Polimodal: 936
Personas que cursaron o cursan Terciario: 8006
Personas que cursaron o cursan Universitario: 9323
Personas que cursaron o cursan Posgrado universitario: 395
Personas que cursaron o cursan Educación especial (discapacitado): 428

In [11]:
# Contar el número de personas que finalizaron y no finalizaron cada nivel educativo
finalizo_jardin = personas[(personas['CH12'] == 1) & (personas['CH13'] == 1)]
no_finalizo_jardin = personas[(personas['CH12'] == 1) & (personas['CH13'] == 2)]

finalizo_primario = personas[(personas['CH12'] == 2) & (personas['CH13'] == 1)]
no_finalizo_primario = personas[(personas['CH12'] == 2) & (personas['CH13'] == 2)]

finalizo_egb = personas[(personas['CH12'] == 3) & (personas['CH13'] == 1)]
no_finalizo_egb = personas[(personas['CH12'] == 3) & (personas['CH13'] == 2)]

finalizo_secundario = personas[(personas['CH12'] == 4) & (personas['CH13'] == 1)]
no_finalizo_secundario = personas[(personas['CH12'] == 4) & (personas['CH13'] == 2)]

finalizo_polimodal = personas[(personas['CH12'] == 5) & (personas['CH13'] == 1)]
no_finalizo_polimodal = personas[(personas['CH12'] == 5) & (personas['CH13'] == 2)]

finalizo_terciario = personas[(personas['CH12'] == 6) & (personas['CH13'] == 1)]
no_finalizo_terciario = personas[(personas['CH12'] == 6) & (personas['CH13'] == 2)]

finalizo_universitario = personas[(personas['CH12'] == 7) & (personas['CH13'] == 1)]
no_finalizo_universitario = personas[(personas['CH12'] == 7) & (personas['CH13'] == 2)]

finalizo_posgrado = personas[(personas['CH12'] == 8) & (personas['CH13'] == 1)]
no_finalizo_posgrado = personas[(personas['CH12'] == 8) & (personas['CH13'] == 2)]

finalizo_educacion_especial = personas[(personas['CH12'] == 9) & (personas['CH13'] == 1)]
no_finalizo_educacion_especial = personas[(personas['CH12'] == 9) & (personas['CH13'] == 2)]

# Mostrar los resultados
print("Jardín/preescolar:")
print("  Personas que finalizaron:", len(finalizo_jardin))
print("  Personas que no finalizaron:", len(no_finalizo_jardin))

print("Primario:")
print("  Personas que finalizaron:", len(finalizo_primario))
print("  Personas que no finalizaron:", len(no_finalizo_primario))

print("EGB:")
print("  Personas que finalizaron:", len(finalizo_egb))
print("  Personas que no finalizaron:", len(no_finalizo_egb))

print("Secundario:")
print("  Personas que finalizaron:", len(finalizo_secundario))
print("  Personas que no finalizaron:", len(no_finalizo_secundario))

print("Polimodal:")
print("  Personas que finalizaron:", len(finalizo_polimodal))
print("  Personas que no finalizaron:", len(no_finalizo_polimodal))

print("Terciario:")
print("  Personas que finalizaron:", len(finalizo_terciario))
print("  Personas que no finalizaron:", len(no_finalizo_terciario))

print("Universitario:")
print("  Personas que finalizaron:", len(finalizo_universitario))
print("  Personas que no finalizaron:", len(no_finalizo_universitario))

print("Posgrado universitario:")
print("  Personas que finalizaron:", len(finalizo_posgrado))
print("  Personas que no finalizaron:", len(no_finalizo_posgrado))

print("Educación especial (discapacitado):")
print("  Personas que finalizaron:", len(finalizo_educacion_especial))
print("  Personas que no finalizaron:", len(no_finalizo_educacion_especial))

Jardín/preescolar:
  Personas que finalizaron: 102
  Personas que no finalizaron: 2407
Primario:
  Personas que finalizaron: 10106
  Personas que no finalizaron: 10872
EGB:
  Personas que finalizaron: 169
  Personas que no finalizaron: 1081
Secundario:
  Personas que finalizaron: 14805
  Personas que no finalizaron: 15522
Polimodal:
  Personas que finalizaron: 557
  Personas que no finalizaron: 379
Terciario:
  Personas que finalizaron: 5029
  Personas que no finalizaron: 2977
Universitario:
  Personas que finalizaron: 4080
  Personas que no finalizaron: 5243
Posgrado universitario:
  Personas que finalizaron: 282
  Personas que no finalizaron: 113
Educación especial (discapacitado):
  Personas que finalizaron: 88
  Personas que no finalizaron: 340

In [12]:
# Contar el número de personas que aprobaron cada año educativo
ultimo_ano_aprobado = personas.groupby('CH14').size()

# Mostrar los resultados
print("Último año aprobado:")
for ano, cantidad in ultimo_ano_aprobado.items():
    print(f"Año {ano}: {cantidad} personas")

Último año aprobado:
Año 0.0: 6499 personas
Año 1.0: 6055 personas
Año 2.0: 7748 personas
Año 3.0: 7528 personas
Año 4.0: 5330 personas
Año 5.0: 3181 personas
Año 6.0: 1296 personas
Año 7.0: 145 personas
Año 8.0: 238 personas
Año 9.0: 29 personas
Año 98.0: 341 personas
Año 99.0: 555 personas

In [13]:
# Mapear los códigos de CH15 a sus descripciones
descripcion_ch15 = {
    1: 'En esta localidad',
    2: 'En otra localidad de esta provincia',
    3: 'En otra provincia',
    4: 'En un país limítrofe',
    5: 'En otro país',
    9: 'Ns/Nr'
}

# Contar el número de personas según el lugar de nacimiento
lugar_nacimiento = personas['CH15'].map(descripcion_ch15).value_counts()

# Mostrar los resultados
print("Lugar de nacimiento:")
print(lugar_nacimiento)

Lugar de nacimiento:
CH15
En esta localidad                      56686
En otra provincia                       9737
En otra localidad de esta provincia     9072
En un país limítrofe                    1533
En otro país                             578
Ns/Nr                                     36
Name: count, dtype: int64

In [14]:
# Mapear los códigos de CH16 a sus descripciones
descripcion_ch16 = {
    1: 'En esta localidad',
    2: 'En otra localidad de esta provincia',
    3: 'En otra provincia',
    4: 'En un país limítrofe',
    5: 'En otro país',
    6: 'No había nacido',
    9: 'Ns/Nr'
}

# Contar el número de personas según el lugar de residencia hace 5 años
lugar_residencia_5_anios = personas['CH16'].map(descripcion_ch16).value_counts()

# Mostrar los resultados
print("Lugar de residencia hace 5 años:")
print(lugar_residencia_5_anios)

Lugar de residencia hace 5 años:
CH16
En esta localidad                      71193
No había nacido                         4408
En otra provincia                        967
En otra localidad de esta provincia      846
En otro país                             157
En un país limítrofe                      51
Ns/Nr                                     19
Name: count, dtype: int64

In [15]:
# Filtrar los datos por las categorías específicas en CH16
en_otra_provincia_cod = personas.loc[personas['CH16'] == 3, 'CH16_COD']
en_pais_limitrofe_cod = personas.loc[personas['CH16'] == 4, 'CH16_COD']
en_otro_pais_cod = personas.loc[personas['CH16'] == 5, 'CH16_COD']

# Mostrar los resultados
print("Códigos en otra provincia:")
print(en_otra_provincia_cod.value_counts())

print("\nCódigos en un país limítrofe:")
print(en_pais_limitrofe_cod.value_counts())

print("\nCódigos en otro país:")
print(en_otro_pais_cod.value_counts())

Códigos en otra provincia:
CH16_COD
6.0      284
14.0     108
50.0      62
82.0      46
66.0      41
90.0      41
34.0      33
78.0      30
54.0      30
18.0      28
30.0      25
38.0      25
58.0      25
62.0      24
86.0      23
22.0      21
46.0      18
2.0       18
26.0      17
10.0      14
94.0      14
74.0      13
70.0      12
42.0      10
999.0      5
Name: count, dtype: int64

Códigos en un país limítrofe:
CH16_COD
203.0    24
221.0    13
202.0    10
225.0     2
208.0     2
Name: count, dtype: int64

Códigos en otro país:
CH16_COD
226.0    104
205.0     19
212.0      8
210.0      5
222.0      5
410.0      4
209.0      4
308.0      3
218.0      2
320.0      2
417.0      1
Name: count, dtype: int64

Nivel educativo
1 = Primario incompleto (incluye educación especial)
2 = primario completo
3 = Secundario incompleto
4 = secundario completo
5 = Superior universitario incompleto
6 = Superior universitario completo
7 = Sin instrucción
9 = Ns/ Nr

In [16]:
# Obtener la distribución de niveles educativos
distribucion_nivel_educativo = personas['NIVEL_ED'].value_counts()

# Mostrar los resultados
print("Distribución de niveles educativos:")
print(distribucion_nivel_educativo)

Distribución de niveles educativos:
NIVEL_ED
3    16395
4    15375
1    11970
2    10181
6     9507
5     8227
7     5987
Name: count, dtype: int64

	Condición de actividad
    0 = Entrevista individual no realizada (no respuesta al cuestionario individual)
    1 = Ocupado
    2 = Desocupado
    3 = Inactivo
    4 = Menor de 10 años

In [17]:
# Obtener la distribución del estado de actividad
distribucion_estado_actividad = personas['ESTADO'].value_counts()

# Mostrar los resultados
print("Distribución del estado de actividad:")
print(distribucion_estado_actividad)

Distribución del estado de actividad:
ESTADO
1    33202
3    32234
4    10105
2     1982
0      119
Name: count, dtype: int64

	Categoría ocupacional (Para ocupados y desocupados con ocupación anterior)
    1 = Patrón
    2 = Cuenta propia
    3 = Obrero o empleado
    4 = Trabajador familiar sin remuneración
    9 = Ns/Nr

In [18]:
# Obtener la distribución de la categoría ocupacional
distribucion_categoria_ocupacional = personas['CAT_OCUP'].value_counts()

# Mostrar los resultados
print("Distribución de la categoría ocupacional:")
print(distribucion_categoria_ocupacional)

Distribución de la categoría ocupacional:
CAT_OCUP
3.0    25490
2.0     7765
1.0     1224
0.0      531
4.0      173
9.0        1
Name: count, dtype: int64

Categoría de inactividad
1 = Jubilado / Pensionado
2 = Rentista
3 = Estudiante
4 = Ama de casa
5 = Menor de 6 años
6 = Discapacitado
7 = Otros

In [19]:
# Obtener la distribución de la categoría de inactividad
distribucion_categoria_inactividad = personas['CAT_INAC'].value_counts()

# Mostrar los resultados
print("Distribución de la categoría de inactividad:")
print(distribucion_categoria_inactividad)

Distribución de la categoría de inactividad:
CAT_INAC
0    35303
3    18257
1    12288
5     5298
4     4955
7     1246
6      192
2      103
Name: count, dtype: int64

¿DE QUE MANERA ESTUVO BUSCANDO TRABAJO?

In [20]:


# Obtener la distribución de respuestas sobre búsqueda de trabajo en los últimos 12 meses
busco_trabajo_12_meses = personas['PP02H'].value_counts()

# Obtener la distribución de respuestas sobre haber trabajado en algún momento en los últimos 12 meses
trabajo_12_meses = personas['PP02I'].value_counts()

# Mostrar los resultados
print("Búsqueda de trabajo en los últimos 12 meses:")
print(busco_trabajo_12_meses)

print("\nTrabajó en algún momento en los últimos 12 meses:")
print(trabajo_12_meses)

Búsqueda de trabajo en los últimos 12 meses:
PP02H
0    45460
2    31636
1      546
Name: count, dtype: int64

Trabajó en algún momento en los últimos 12 meses:
PP02I
0    45407
2    31552
1      683
Name: count, dtype: int64

In [21]:


# Obtener la distribución de respuestas sobre consultar a parientes o amigos
consulto_parientes_amigos = personas['PP02C6'].value_counts()

# Mostrar los resultados
print("Consultó a parientes o amigos en su búsqueda de empleo:")
print(consulto_parientes_amigos)

Consultó a parientes o amigos en su búsqueda de empleo:
PP02C6
0    75825
1     1165
2      652
Name: count, dtype: int64

In [22]:


# Obtener la distribución de respuestas sobre si se anotaron en bolsas, listas, etc.
anotado_planes_empleo = personas['PP02C7'].value_counts()

# Mostrar los resultados
print("Se anotaron en bolsas, listas, planes de empleo, agencias, contratistas, o alguien les está buscando trabajo:")
print(anotado_planes_empleo)

Se anotaron en bolsas, listas, planes de empleo, agencias, contratistas, o alguien les está buscando trabajo:
PP02C7
0    75825
2     1653
1      164
Name: count, dtype: int64

Durante esos 30 días, no buscó trabajo porque…
1= está suspendido
2= ya tiene trabajo asegurado
3= se cansó de buscar trabajo
4= hay poco trabajo en esta época del año
5= por otras razones

In [23]:


# Obtener la distribución de razones por las cuales no buscaron trabajo
razones_no_busqueda = personas['PP02E'].value_counts()

# Mostrar los resultados
print("Razones por las cuales no buscaron trabajo durante los últimos 30 días:")
print(razones_no_busqueda)

Razones por las cuales no buscaron trabajo durante los últimos 30 días:
PP02E
0    77381
5      113
3       66
4       59
2       20
1        3
Name: count, dtype: int64

En los últimos 12 meses ¿buscó trabajo en algún momento?
1 = Sí
2 = No

In [24]:


# Obtener la distribución de respuestas sobre si buscaron trabajo en los últimos 12 meses
busco_trabajo_12_meses = personas['PP02H'].value_counts()

# Mostrar los resultados
print("¿Buscó trabajo en algún momento durante los últimos 12 meses?")
print(busco_trabajo_12_meses)

¿Buscó trabajo en algún momento durante los últimos 12 meses?
PP02H
0    45460
2    31636
1      546
Name: count, dtype: int64

¿Trabajó en algún momento durante los últimos 12 meses?
1 = Sí
2 = No

In [25]:


# Obtener la distribución de respuestas sobre si trabajaron en los últimos 12 meses
trabajo_12_meses = personas['PP02I'].value_counts()

# Mostrar los resultados
print("¿Trabajó en algún momento durante los últimos 12 meses?")
print(trabajo_12_meses)

¿Trabajó en algún momento durante los últimos 12 meses?
PP02I
0    45407
2    31552
1      683
Name: count, dtype: int64

OCUPACIÓN PRINCIPAL

¿El negocio / empresa / institución / actividad en la que trabaja es... (se refiere al que trabaja más horas semanales)
1 = ...estatal?
2 =... privada?
3 =... de otro tipo? (especificar)

In [26]:
# Obtener la distribución de respuestas sobre el tipo de trabajo
tipo_trabajo = personas['PP04A'].value_counts()

# Mostrar los resultados
print("Tipo de trabajo:")
print(tipo_trabajo)

Tipo de trabajo:
PP04A
0    44440
2    24814
1     7973
3      410
9        5
Name: count, dtype: int64

¿A qué se dedica o produce el negocio / empresa / institución?
(Ver Clasificador de Actividades Económicas para Encuestas Sociodemográficas del Mercosur, CAES-Mercosur)"

In [27]:
# Obtener la distribución de respuestas sobre la actividad económica
actividad_economica = personas['PP04B_COD'].value_counts()

# Mostrar los resultados
print("Actividad económica:")
print(actividad_economica)

Actividad económica:
PP04B_COD
0       44440
8401     3800
4000     3261
8501     2629
9700     2350
        ...
6           1
64          1
96          1
4902        1
52          1
Name: count, Length: 151, dtype: int64

Si presta servicio doméstico en hogares particulares
1 = casa de familia

In [28]:
# Filtrar las personas que prestan servicio doméstico en hogares particulares
servicio_domestico = personas[personas['PP04B1'] == 1]

# Contar el número de personas que prestan servicio doméstico
num_personas_servicio_domestico = len(servicio_domestico)

# Mostrar el resultado
print("Número de personas que prestan servicio doméstico en hogares particulares:", num_personas_servicio_domestico)

Número de personas que prestan servicio doméstico en hogares particulares: 2290

¿En cuántas casas trabaja? (cantidad)

In [29]:
# Filtrar las personas que prestan servicio doméstico en hogares particulares
servicio_domestico = personas[personas['PP04B1'] == 1]

# Obtener la cantidad de casas en las que trabaja cada persona
casas_trabajo = servicio_domestico['PP04B2']

# Contar la cantidad total de personas que trabajan en cada cantidad de casas
conteo_casas = casas_trabajo.value_counts()

# Mostrar el resultado
print("Cantidad de personas que prestan servicio doméstico en hogares particulares según la cantidad de casas en las que trabajan:")
print(conteo_casas)

Cantidad de personas que prestan servicio doméstico en hogares particulares según la cantidad de casas en las que trabajan:
PP04B2
1     1818
2      272
3      128
4       28
5       24
7        6
6        6
8        5
9        1
10       1
11       1
Name: count, dtype: int64

¿Dónde realiza principalmente sus tareas? 
1 = En un local/oficina/establecimiento/negocio/taller/chacra/finca
2 = En puesto o kiosco fijo callejero
3 = En vehículos: bicicleta, moto, auto,  barco, bote (no incluye servicio de transporte)
4 = En vehículo para transporte de personas y mercaderías – aéreos, marítimo, terrestre– incluye taxis, colectivos, camiones, furgones, transporte de combustible, mudanzas, etc.)
5 = En obras en construcción, de infraestructura, minería ó similares
6 = En esta vivienda. (sin lugar  exclusivo)
7 = En la vivienda del socio ó del patrón
8 = En el domicilio / local de los clientes
9 = En la calle, espacios públicos, ambulante, de casa en casa, puesto móvil callejero
10 = En otro lugar (especificar)

In [30]:
# Obtener el conteo de las respuestas para cada categoría
conteo_lugares = personas['PP04G'].value_counts()

# Mostrar el resultado
print("Cantidad de personas según el lugar donde realizan principalmente sus tareas:")
print(conteo_lugares)

Cantidad de personas según el lugar donde realizan principalmente sus tareas:
PP04G
0     46730
1     20718
8      3288
6      2228
4      1379
9      1344
5      1222
10      327
3       230
7        93
2        78
99        5
Name: count, dtype: int64

OCUPACIÓN PRINCIPAL DE LOS TRABAJADORES INDEPENDIENTES
¿Cuanto hace qu trabaja en este empleo y de manera continua?

MESES

In [31]:
# Obtener el conteo de los meses de desempleo
conteo_meses_desempleo = personas['PP05B2_MES'].value_counts()

# Mostrar el resultado
print("Cantidad de personas según el número de meses de desempleo en los últimos 12 meses:")
print(conteo_meses_desempleo)

Cantidad de personas según el número de meses de desempleo en los últimos 12 meses:
PP05B2_MES
0     77598
6        16
2         5
8         5
4         4
5         4
1         4
3         2
7         2
11        1
10        1
Name: count, dtype: int64

AÑOS

In [38]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de los años de desempleo para mujeres
conteo_anos_desempleo_mujeres = mujeres['PP05B2_ANO'].value_counts()

# Mostrar el resultado para mujeres
print("Cantidad de mujeres según el número de años de desempleo en los últimos 12 meses:")
print(conteo_anos_desempleo_mujeres)

Cantidad de mujeres según el número de años de desempleo en los últimos 12 meses:
PP05B2_ANO
0     40386
1        20
2        19
5        17
3         8
6         4
8         2
4         2
30        1
20        1
15        1
19        1
14        1
17        1
40        1
Name: count, dtype: int64

In [39]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de los años de desempleo para hombres
conteo_anos_desempleo_hombres = hombres['PP05B2_ANO'].value_counts()

# Mostrar el resultado para hombres
print("Cantidad de hombres según el número de años de desempleo en los últimos 12 meses:")
print(conteo_anos_desempleo_hombres)

Cantidad de hombres según el número de años de desempleo en los últimos 12 meses:
PP05B2_ANO
0     37126
1        17
2         9
4         6
5         3
3         3
10        3
7         3
6         3
15        2
8         1
17        1
Name: count, dtype: int64

DÍAS

In [37]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de días de desempleo para mujeres
conteo_dias_desempleo_mujeres = mujeres['PP05B2_DIA'].value_counts()

# Obtener el conteo de días de desempleo para hombres
conteo_dias_desempleo_hombres = hombres['PP05B2_DIA'].value_counts()

# Mostrar el resultado para mujeres
print("Cantidad de mujeres según el número de días de desempleo en los últimos 12 meses:")
print(conteo_dias_desempleo_mujeres)
print("\n")

# Mostrar el resultado para hombres
print("Cantidad de hombres según el número de días de desempleo en los últimos 12 meses:")
print(conteo_dias_desempleo_hombres)

Cantidad de mujeres según el número de días de desempleo en los últimos 12 meses:
PP05B2_DIA
0     40462
15        1
7         1
20        1
Name: count, dtype: int64


Cantidad de hombres según el número de días de desempleo en los últimos 12 meses:
PP05B2_DIA
0     37171
10        1
15        1
2         1
6         1
14        1
20        1
Name: count, dtype: int64

INGRESO DE LA OCUPACIÓN PRINCIPAL DE LOS TRABAJADORES INDEPENDINTES
En ese negocio/empresa/actividad ¿tiene socios o familiares asociados?
1 = Sí
2 = No

In [34]:
# Obtener el conteo de respuestas
conteo_socios_asociados = personas['PP06A'].value_counts()

# Mostrar el resultado
print("Cantidad de personas según si tienen socios o familiares asociados en el negocio:")
print(conteo_socios_asociados)

Cantidad de personas según si tienen socios o familiares asociados en el negocio:
PP06A
0.0    24507
2.0     6724
1.0     1970
9.0        1
Name: count, dtype: int64

Monto de ingreso de patrones y cuenta propia sin socios

In [36]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de valores únicos y sus frecuencias para mujeres y hombres
conteo_ingresos_mujeres = mujeres['PP06C'].value_counts()
conteo_ingresos_hombres = hombres['PP06C'].value_counts()

# Mostrar el resultado
print("Conteo de montos de ingreso de patrones y cuenta propia sin socios para mujeres:")
print(conteo_ingresos_mujeres)
print("\n")
print("Conteo de montos de ingreso de patrones y cuenta propia sin socios para hombres:")
print(conteo_ingresos_hombres)

Conteo de montos de ingreso de patrones y cuenta propia sin socios para mujeres:
PP06C
 0.0         11961
-9.0           434
 20000.0       223
 30000.0       206
 50000.0       152
             ...
 136000.0        1
 2800.0          1
 81000.0         1
 26500.0         1
 54000.0         1
Name: count, Length: 116, dtype: int64


Conteo de montos de ingreso de patrones y cuenta propia sin socios para hombres:
PP06C
 0.0          14517
-9.0            737
 40000.0        332
 50000.0        313
 60000.0        304
              ...
 67200.0          1
 49000.0          1
 1800.0           1
 2000000.0        1
 89000.0          1
Name: count, Length: 136, dtype: int64

OCUPACIÓN PRINCIPAL DE LOS ASALARIADOS (INCLUIDO EL SERVICIO DOMÉSTICO )

¿En este trabajo le dan... (no excluyentes)… de comer gratis en el lugar de trabajo?
1 = Sí
2 = No

In [40]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de respuestas sobre si les dan comida gratis en el trabajo para mujeres
conteo_comida_gratis_mujeres = mujeres['PP07F1'].value_counts()

# Mostrar el resultado para mujeres
print("Respuestas de mujeres sobre si les dan comida gratis en el trabajo:")
print(conteo_comida_gratis_mujeres)

Respuestas de mujeres sobre si les dan comida gratis en el trabajo:
PP07F1
2.0    9318
0.0    3455
1.0    1771
9.0       5
Name: count, dtype: int64

In [41]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de respuestas sobre si les dan comida gratis en el trabajo para hombres
conteo_comida_gratis_hombres = hombres['PP07F1'].value_counts()

# Mostrar el resultado para hombres
print("Respuestas de hombres sobre si les dan comida gratis en el trabajo:")
print(conteo_comida_gratis_hombres)

Respuestas de hombres sobre si les dan comida gratis en el trabajo:
PP07F1
2.0    11575
0.0     5411
1.0     1655
9.0       12
Name: count, dtype: int64

...vivienda?
1 = Sí
2 = No

In [42]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de respuestas sobre si les dan comida gratis en la vivienda para mujeres
conteo_comida_gratis_vivienda_mujeres = mujeres['PP07F2'].value_counts()

# Mostrar el resultado para mujeres
print("Respuestas de mujeres sobre si les dan comida gratis en la vivienda:")
print(conteo_comida_gratis_vivienda_mujeres)

Respuestas de mujeres sobre si les dan comida gratis en la vivienda:
PP07F2
2.0    11024
0.0     3455
1.0       67
9.0        3
Name: count, dtype: int64

In [43]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de respuestas sobre si les dan comida gratis en la vivienda para hombres
conteo_comida_gratis_vivienda_hombres = hombres['PP07F2'].value_counts()

# Mostrar el resultado para hombres
print("Respuestas de hombres sobre si les dan comida gratis en la vivienda:")
print(conteo_comida_gratis_vivienda_hombres)

Respuestas de hombres sobre si les dan comida gratis en la vivienda:
PP07F2
2.0    12979
0.0     5411
1.0      256
9.0        7
Name: count, dtype: int64

VACACIÓNES PAGAS 
1 = Sí
2 = No

In [44]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de respuestas sobre si reciben vacaciones pagas para mujeres
conteo_vacaciones_pagas_mujeres = mujeres['PP07G1'].value_counts()

# Mostrar el resultado para mujeres
print("Respuestas de mujeres sobre si reciben vacaciones pagas:")
print(conteo_vacaciones_pagas_mujeres)

Respuestas de mujeres sobre si reciben vacaciones pagas:
PP07G1
1.0    6953
2.0    4138
0.0    3455
9.0       3
Name: count, dtype: int64

In [45]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de respuestas sobre si reciben vacaciones pagas para hombres
conteo_vacaciones_pagas_hombres = hombres['PP07G1'].value_counts()

# Mostrar el resultado para hombres
print("Respuestas de hombres sobre si reciben vacaciones pagas:")
print(conteo_vacaciones_pagas_hombres)

Respuestas de hombres sobre si reciben vacaciones pagas:
PP07G1
1.0    8490
0.0    5411
2.0    4745
9.0       7
Name: count, dtype: int64

LES PAGAN AGUINALDO?
1 = Sí
2 = No

In [46]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de respuestas sobre si reciben aguinaldo para mujeres
conteo_aguinaldo_mujeres = mujeres['PP07G2'].value_counts()

# Mostrar el resultado para mujeres
print("Respuestas de mujeres sobre si reciben aguinaldo:")
print(conteo_aguinaldo_mujeres)

Respuestas de mujeres sobre si reciben aguinaldo:
PP07G2
1.0    6958
2.0    4133
0.0    3455
9.0       3
Name: count, dtype: int64

In [47]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de respuestas sobre si reciben aguinaldo para hombres
conteo_aguinaldo_hombres = hombres['PP07G2'].value_counts()

# Mostrar el resultado para hombres
print("Respuestas de hombres sobre si reciben aguinaldo:")
print(conteo_aguinaldo_hombres)

Respuestas de hombres sobre si reciben aguinaldo:
PP07G2
1.0    8481
0.0    5411
2.0    4754
9.0       7
Name: count, dtype: int64

¿Días pagos por enfermedad?
1 = Sí
2 = No

In [48]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de respuestas sobre si reciben días pagos por enfermedad para mujeres
conteo_dias_enfermedad_mujeres = mujeres['PP07G3'].value_counts()

# Mostrar el resultado para mujeres
print("Respuestas de mujeres sobre si reciben días pagos por enfermedad:")
print(conteo_dias_enfermedad_mujeres)

Respuestas de mujeres sobre si reciben días pagos por enfermedad:
PP07G3
1.0    6944
2.0    4147
0.0    3455
9.0       3
Name: count, dtype: int64

In [49]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de respuestas sobre si reciben días pagos por enfermedad para hombres
conteo_dias_enfermedad_hombres = hombres['PP07G3'].value_counts()

# Mostrar el resultado para hombres
print("Respuestas de hombres sobre si reciben días pagos por enfermedad:")
print(conteo_dias_enfermedad_hombres)

Respuestas de hombres sobre si reciben días pagos por enfermedad:
PP07G3
1.0    8481
0.0    5411
2.0    4754
9.0       7
Name: count, dtype: int64

¿El turno habitual de trabajo es...
1 = ...de día? (mañana/tarde)
2 = ...de noche?
3 = ...de otro tipo? (rotativo, día y noche, guardias con franco)

In [50]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de respuestas sobre el turno habitual de trabajo para mujeres
conteo_turno_trabajo_mujeres = mujeres['PP07J'].value_counts()

# Mostrar el resultado para mujeres
print("Respuestas de mujeres sobre el turno habitual de trabajo:")
print(conteo_turno_trabajo_mujeres)

Respuestas de mujeres sobre el turno habitual de trabajo:
PP07J
1.0    10095
0.0     3455
3.0      741
2.0      253
9.0        5
Name: count, dtype: int64

In [51]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de respuestas sobre el turno habitual de trabajo para hombres
conteo_turno_trabajo_hombres = hombres['PP07J'].value_counts()

# Mostrar el resultado para hombres
print("Respuestas de hombres sobre el turno habitual de trabajo:")
print(conteo_turno_trabajo_hombres)

Respuestas de hombres sobre el turno habitual de trabajo:
PP07J
1.0    11061
0.0     5411
3.0     1835
2.0      339
9.0        7
Name: count, dtype: int64

¿Cuando cobra...
1 = ...le dan recibo con sello/membrete/firma del empleador?
2 = ...le dan un papel/recibo sin nada?
3 = ...entrega una factura?
4 = ...no le dan ni entrega nada?
5 = no cobra, es trabajador sin pago/ad honorem

In [52]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de respuestas sobre la forma de pago para mujeres
conteo_forma_pago_mujeres = mujeres['PP07K'].value_counts()

# Mostrar el resultado para mujeres
print("Respuestas de mujeres sobre la forma de pago:")
print(conteo_forma_pago_mujeres)

Respuestas de mujeres sobre la forma de pago:
PP07K
1.0    6702
4.0    3614
0.0    3455
3.0     382
2.0     365
5.0      28
9.0       3
Name: count, dtype: int64

In [53]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de respuestas sobre la forma de pago para hombres
conteo_forma_pago_hombres = hombres['PP07K'].value_counts()

# Mostrar el resultado para hombres
print("Respuestas de hombres sobre la forma de pago:")
print(conteo_forma_pago_hombres)

Respuestas de hombres sobre la forma de pago:
PP07K
1.0    8380
0.0    5411
4.0    4149
3.0     394
2.0     294
5.0      18
9.0       7
Name: count, dtype: int64

INGRESO DE LA OPCUPACIÓN PRINCIPAL DE LOS ASALARIADOS 
¿Cuánto cobró por ese mes por estos conceptos?
Monto total de sueldos/jornales, salario familiar, horas extras, otras bonificaciones habituales y tickets, vales o similares

In [54]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de respuestas sobre el monto cobrado por esos conceptos para mujeres
conteo_monto_mujeres = mujeres['PP08D1'].value_counts()

# Mostrar el resultado para mujeres
print("Respuestas de mujeres sobre el monto cobrado por esos conceptos:")
print(conteo_monto_mujeres)

Respuestas de mujeres sobre el monto cobrado por esos conceptos:
PP08D1
 0.0         3805
-9.0         1224
 60000.0      516
 80000.0      513
 40000.0      467
             ...
 600000.0       1
 45500.0        1
 33200.0        1
 43500.0        1
 2850.0         1
Name: count, Length: 385, dtype: int64

In [55]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de respuestas sobre el monto cobrado por esos conceptos para hombres
conteo_monto_hombres = hombres['PP08D1'].value_counts()

# Mostrar el resultado para hombres
print("Respuestas de hombres sobre el monto cobrado por esos conceptos:")
print(conteo_monto_hombres)

Respuestas de hombres sobre el monto cobrado por esos conceptos:
PP08D1
 0.0         5953
-9.0         1668
 80000.0      752
 60000.0      747
 40000.0      648
             ...
 58500.0        1
 68200.0        1
 105500.0       1
 85500.0        1
 26500.0        1
Name: count, Length: 327, dtype: int64

Conteo de respuestas sobre el monto percibido en tickets para mujeres y hombres.

In [56]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de respuestas sobre el monto percibido en tickets para mujeres
conteo_tickets_mujeres = mujeres['PP08D4'].value_counts()

# Mostrar el resultado para mujeres
print("Respuestas de mujeres sobre el monto percibido en tickets:")
print(conteo_tickets_mujeres)

Respuestas de mujeres sobre el monto percibido en tickets:
PP08D4
0.0        14546
20000.0        3
Name: count, dtype: int64

In [57]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de respuestas sobre el monto percibido en tickets para hombres
conteo_tickets_hombres = hombres['PP08D4'].value_counts()

# Mostrar el resultado para hombres
print("Respuestas de hombres sobre el monto percibido en tickets:")
print(conteo_tickets_hombres)

Respuestas de hombres sobre el monto percibido en tickets:
PP08D4
0.0        18643
20000.0        5
30000.0        2
25000.0        1
10000.0        1
5000.0         1
Name: count, dtype: int64

¿Cuánto cobró por ese mes de ... (mes) …
monto en pesos cobrado por comisión por venta/producción?

In [58]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de respuestas sobre el monto percibido por comisión por venta/producción para mujeres
conteo_comision_mujeres = mujeres['PP08F1'].value_counts()

# Mostrar el resultado para mujeres
print("Respuestas de mujeres sobre el monto percibido por comisión por venta/producción:")
print(conteo_comision_mujeres)

Respuestas de mujeres sobre el monto percibido por comisión por venta/producción:
PP08F1
 0.0         14357
-9.0            29
 10000.0        19
 30000.0        17
 40000.0        11
 4000.0         10
 20000.0        10
 25000.0         9
 50000.0         6
 5000.0          6
 15000.0         5
 3000.0          5
 6000.0          4
 7000.0          4
 60000.0         4
 2000.0          4
 12000.0         4
 1000.0          3
 18000.0         3
 80000.0         3
 55000.0         3
 45000.0         2
 70000.0         2
 24000.0         2
 9000.0          2
 100000.0        2
 6500.0          1
 400.0           1
 13000.0         1
 16000.0         1
 38000.0         1
 32000.0         1
 68000.0         1
 23000.0         1
 1200.0          1
 85000.0         1
 82000.0         1
 8000.0          1
 29000.0         1
 130000.0        1
 42000.0         1
 2500.0          1
 28800.0         1
 90000.0         1
 6960.0          1
 35000.0         1
 13800.0         1
 65000.0         1
 72000.0         1
Name: count, dtype: int64

In [59]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de respuestas sobre el monto percibido por comisión por venta/producción para hombres
conteo_comision_hombres = hombres['PP08F1'].value_counts()

# Mostrar el resultado para hombres
print("Respuestas de hombres sobre el monto percibido por comisión por venta/producción:")
print(conteo_comision_hombres)

Respuestas de hombres sobre el monto percibido por comisión por venta/producción:
PP08F1
 0.0        18278
-9.0           59
 40000.0       34
 20000.0       32
 50000.0       30
            ...
 54000.0        1
 84000.0        1
 9600.0         1
 52000.0        1
 57000.0        1
Name: count, Length: 62, dtype: int64

¿Cuánto cobró por ese mes de ... (mes) …
monto aguinaldo?

In [60]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Obtener el conteo de respuestas sobre el monto percibido como aguinaldo para mujeres
conteo_aguinaldo_mujeres = mujeres['PP08J1'].value_counts()

# Mostrar el resultado para mujeres
print("Respuestas de mujeres sobre el monto percibido como aguinaldo:")
print(conteo_aguinaldo_mujeres)

Respuestas de mujeres sobre el monto percibido como aguinaldo:
PP08J1
 0.0         12368
-9.0           263
 40000.0       170
 30000.0       149
 50000.0       128
             ...
 40500.0         1
 18500.0         1
 87000.0         1
 198000.0        1
 52000.0         1
Name: count, Length: 139, dtype: int64

In [61]:
# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el conteo de respuestas sobre el monto percibido como aguinaldo para hombres
conteo_aguinaldo_hombres = hombres['PP08J1'].value_counts()

# Mostrar el resultado para hombres
print("Respuestas de hombres sobre el monto percibido como aguinaldo:")
print(conteo_aguinaldo_hombres)

Respuestas de hombres sobre el monto percibido como aguinaldo:
PP08J1
 0.0         16115
-9.0           316
 40000.0       226
 50000.0       202
 30000.0       167
             ...
 300000.0        1
 91500.0         1
 63000.0         1
 3500.0          1
 13250.0         1
Name: count, Length: 156, dtype: int64

INGRESO DE LA OCUPACIÓN PRINCIPAL

In [62]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el monto de ingreso de la ocupación principal para mujeres y hombres
monto_ingreso_mujeres = mujeres['P21']
monto_ingreso_hombres = hombres['P21']

# Mostrar el monto de ingreso de la ocupación principal para mujeres
print("Monto de ingreso de la ocupación principal para mujeres:")
print(monto_ingreso_mujeres)

# Mostrar el monto de ingreso de la ocupación principal para hombres
print("Monto de ingreso de la ocupación principal para hombres:")
print(monto_ingreso_hombres)

Monto de ingreso de la ocupación principal para mujeres:
0            0
2            0
3            0
4            0
5            0
         ...
77625    30000
77628    40000
77629    60000
77634    60000
77638    20000
Name: P21, Length: 40465, dtype: int64
Monto de ingreso de la ocupación principal para hombres:
1             0
7             0
8             0
11            0
12            0
          ...
77636     25000
77637     28000
77639     30000
77640     30000
77641    140000
Name: P21, Length: 37177, dtype: int64

Monto de ingreso de otras ocupaciones (incluye ocupación secundaria, ocupación previa a la semana de referencia, deudas/retroactivos por ocupaciones anteriores al mes de referencia, etc.)

In [63]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el monto de ingreso de otras ocupaciones para mujeres y hombres
monto_ingreso_otras_ocupaciones_mujeres = mujeres['TOT_P12']
monto_ingreso_otras_ocupaciones_hombres = hombres['TOT_P12']

# Mostrar el monto de ingreso de otras ocupaciones para mujeres
print("Monto de ingreso de otras ocupaciones para mujeres:")
print(monto_ingreso_otras_ocupaciones_mujeres)

# Mostrar el monto de ingreso de otras ocupaciones para hombres
print("Monto de ingreso de otras ocupaciones para hombres:")
print(monto_ingreso_otras_ocupaciones_hombres)

Monto de ingreso de otras ocupaciones para mujeres:
0        0
2        0
3        0
4        0
5        0
        ..
77625    0
77628    0
77629    0
77634    0
77638    0
Name: TOT_P12, Length: 40465, dtype: int64
Monto de ingreso de otras ocupaciones para hombres:
1        0
7        0
8        0
11       0
12       0
        ..
77636    0
77637    0
77639    0
77640    0
77641    0
Name: TOT_P12, Length: 37177, dtype: int64

INGRESO TOTAL INDIVIDUAL

In [64]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el monto de ingreso total individual para mujeres y hombres
monto_ingreso_total_mujeres = mujeres['P47T']
monto_ingreso_total_hombres = hombres['P47T']

# Mostrar el monto de ingreso total individual para mujeres
print("Monto de ingreso total individual para mujeres:")
print(monto_ingreso_total_mujeres)

# Mostrar el monto de ingreso total individual para hombres
print("Monto de ingreso total individual para hombres:")
print(monto_ingreso_total_hombres)

Monto de ingreso total individual para mujeres:
0        50000.0
2            0.0
3        32000.0
4           -9.0
5            0.0
          ...
77625    30000.0
77628    88000.0
77629    60000.0
77634    73000.0
77638    38000.0
Name: P47T, Length: 40465, dtype: float64
Monto de ingreso total individual para hombres:
1             0.0
7         37000.0
8             0.0
11           -9.0
12        70000.0
           ...
77636     25000.0
77637     28000.0
77639     30000.0
77640     30000.0
77641    210000.0
Name: P47T, Length: 37177, dtype: float64

INGRESOS NO LABORALES 
Ingreso por jubilación o pensión

In [65]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el monto del ingreso por jubilación o pensión para mujeres y hombres
monto_ingreso_jubilacion_pension_mujeres = mujeres['V2_M']
monto_ingreso_jubilacion_pension_hombres = hombres['V2_M']

# Mostrar el monto del ingreso por jubilación o pensión para mujeres
print("Monto del ingreso por jubilación o pensión para mujeres:")
print(monto_ingreso_jubilacion_pension_mujeres)

# Mostrar el monto del ingreso por jubilación o pensión para hombres
print("Monto del ingreso por jubilación o pensión para hombres:")
print(monto_ingreso_jubilacion_pension_hombres)

Monto del ingreso por jubilación o pensión para mujeres:
0        50000
2            0
3        32000
4        65000
5            0
         ...
77625        0
77628        0
77629        0
77634        0
77638    13500
Name: V2_M, Length: 40465, dtype: int64
Monto del ingreso por jubilación o pensión para hombres:
1            0
7        37000
8            0
11           0
12       70000
         ...
77636        0
77637        0
77639        0
77640        0
77641        0
Name: V2_M, Length: 37177, dtype: int64

Monto del ingreso por indemnización por despido

In [66]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el monto del ingreso por indemnización por despido para mujeres y hombres
monto_ingreso_indemnizacion_despido_mujeres = mujeres['V3_M']
monto_ingreso_indemnizacion_despido_hombres = hombres['V3_M']

# Mostrar el monto del ingreso por indemnización por despido para mujeres
print("Monto del ingreso por indemnización por despido para mujeres:")
print(monto_ingreso_indemnizacion_despido_mujeres)

# Mostrar el monto del ingreso por indemnización por despido para hombres
print("Monto del ingreso por indemnización por despido para hombres:")
print(monto_ingreso_indemnizacion_despido_hombres)

Monto del ingreso por indemnización por despido para mujeres:
0        0
2        0
3        0
4        0
5        0
        ..
77625    0
77628    0
77629    0
77634    0
77638    0
Name: V3_M, Length: 40465, dtype: int64
Monto del ingreso por indemnización por despido para hombres:
1        0
7        0
8        0
11       0
12       0
        ..
77636    0
77637    0
77639    0
77640    0
77641    0
Name: V3_M, Length: 37177, dtype: int64

Monto del ingreso por subsidio o ayuda social (en dinero) del gobierno, iglesias, etc.

In [67]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el monto del ingreso por subsidio o ayuda social para mujeres y hombres
monto_ingreso_subsidio_mujeres = mujeres['V5_M']
monto_ingreso_subsidio_hombres = hombres['V5_M']

# Mostrar el monto del ingreso por subsidio o ayuda social para mujeres
print("Monto del ingreso por subsidio o ayuda social para mujeres:")
print(monto_ingreso_subsidio_mujeres)

# Mostrar el monto del ingreso por subsidio o ayuda social para hombres
print("Monto del ingreso por subsidio o ayuda social para hombres:")
print(monto_ingreso_subsidio_hombres)

Monto del ingreso por subsidio o ayuda social para mujeres:
0            0
2            0
3            0
4            0
5            0
         ...
77625        0
77628    48000
77629        0
77634    13000
77638     4500
Name: V5_M, Length: 40465, dtype: int64
Monto del ingreso por subsidio o ayuda social para hombres:
1        0
7        0
8        0
11       0
12       0
        ..
77636    0
77637    0
77639    0
77640    0
77641    0
Name: V5_M, Length: 37177, dtype: int64

Monto del ingreso por alquiler (vivienda, terreno, oficina, etc.) de su propiedad

In [68]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el monto del ingreso por alquiler para mujeres y hombres
monto_ingreso_alquiler_mujeres = mujeres['V8_M']
monto_ingreso_alquiler_hombres = hombres['V8_M']

# Mostrar el monto del ingreso por alquiler para mujeres
print("Monto del ingreso por alquiler para mujeres:")
print(monto_ingreso_alquiler_mujeres)

# Mostrar el monto del ingreso por alquiler para hombres
print("Monto del ingreso por alquiler para hombres:")
print(monto_ingreso_alquiler_hombres)

Monto del ingreso por alquiler para mujeres:
0        0
2        0
3        0
4        0
5        0
        ..
77625    0
77628    0
77629    0
77634    0
77638    0
Name: V8_M, Length: 40465, dtype: int64
Monto del ingreso por alquiler para hombres:
1        0
7        0
8        0
11       0
12       0
        ..
77636    0
77637    0
77639    0
77640    0
77641    0
Name: V8_M, Length: 37177, dtype: int64

Monto del ingreso por intereses o rentas por plazos fijos/inversiones

In [69]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el monto del ingreso por intereses o rentas por plazos fijos/inversiones para mujeres y hombres
monto_ingreso_intereses_mujeres = mujeres['V10_M']
monto_ingreso_intereses_hombres = hombres['V10_M']

# Mostrar el monto del ingreso por intereses o rentas por plazos fijos/inversiones para mujeres
print("Monto del ingreso por intereses o rentas por plazos fijos/inversiones para mujeres:")
print(monto_ingreso_intereses_mujeres)

# Mostrar el monto del ingreso por intereses o rentas por plazos fijos/inversiones para hombres
print("Monto del ingreso por intereses o rentas por plazos fijos/inversiones para hombres:")
print(monto_ingreso_intereses_hombres)

Monto del ingreso por intereses o rentas por plazos fijos/inversiones para mujeres:
0        0
2        0
3        0
4        0
5        0
        ..
77625    0
77628    0
77629    0
77634    0
77638    0
Name: V10_M, Length: 40465, dtype: int64
Monto del ingreso por intereses o rentas por plazos fijos/inversiones para hombres:
1        0
7        0
8        0
11       0
12       0
        ..
77636    0
77637    0
77639    0
77640    0
77641    0
Name: V10_M, Length: 37177, dtype: int64

Monto del ingreso por cuotas de alimentos o ayuda en dinero de personas que no viven en el hogar

In [70]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el monto del ingreso por cuotas de alimentos o ayuda en dinero de personas que no viven en el hogar para mujeres y hombres
monto_ingreso_alimentos_mujeres = mujeres['V12_M']
monto_ingreso_alimentos_hombres = hombres['V12_M']

# Mostrar el monto del ingreso por cuotas de alimentos o ayuda en dinero de personas que no viven en el hogar para mujeres
print("Monto del ingreso por cuotas de alimentos o ayuda en dinero de personas que no viven en el hogar para mujeres:")
print(monto_ingreso_alimentos_mujeres)

# Mostrar el monto del ingreso por cuotas de alimentos o ayuda en dinero de personas que no viven en el hogar para hombres
print("Monto del ingreso por cuotas de alimentos o ayuda en dinero de personas que no viven en el hogar para hombres:")
print(monto_ingreso_alimentos_hombres)

Monto del ingreso por cuotas de alimentos o ayuda en dinero de personas que no viven en el hogar para mujeres:
0        0
2        0
3        0
4        0
5        0
        ..
77625    0
77628    0
77629    0
77634    0
77638    0
Name: V12_M, Length: 40465, dtype: int64
Monto del ingreso por cuotas de alimentos o ayuda en dinero de personas que no viven en el hogar para hombres:
1        0
7        0
8        0
11       0
12       0
        ..
77636    0
77637    0
77639    0
77640    0
77641    0
Name: V12_M, Length: 37177, dtype: int64

Monto del ingreso por trabajo de menores de 10 años

In [71]:
# Filtrar por sexo para mujeres (Sexo = 2)
mujeres = personas[personas['CH04'] == 2]

# Filtrar por sexo para hombres (Sexo = 1)
hombres = personas[personas['CH04'] == 1]

# Obtener el monto del ingreso por trabajo de menores de 10 años para mujeres y hombres
monto_ingreso_trabajo_mujeres = mujeres['V19_AM']
monto_ingreso_trabajo_hombres = hombres['V19_AM']

# Mostrar el monto del ingreso por trabajo de menores de 10 años para mujeres
print("Monto del ingreso por trabajo de menores de 10 años para mujeres:")
print(monto_ingreso_trabajo_mujeres)

# Mostrar el monto del ingreso por trabajo de menores de 10 años para hombres
print("Monto del ingreso por trabajo de menores de 10 años para hombres:")
print(monto_ingreso_trabajo_hombres)

Monto del ingreso por trabajo de menores de 10 años para mujeres:
0        0
2        0
3        0
4        0
5        0
        ..
77625    0
77628    0
77629    0
77634    0
77638    0
Name: V19_AM, Length: 40465, dtype: int64
Monto del ingreso por trabajo de menores de 10 años para hombres:
1        0
7        0
8        0
11       0
12       0
        ..
77636    0
77637    0
77639    0
77640    0
77641    0
Name: V19_AM, Length: 37177, dtype: int64

In [74]:
# Cargar los datos desde los archivos TXT
hogares = pd.read_csv("hogares_tot.urb_3T_2022.txt", sep=';', encoding='latin1')

# Obtener el monto del ingreso total familiar
monto_ingreso_total_familiar = hogares['ITF']

# Mostrar el monto del ingreso total familiar
print("Monto del ingreso total familiar:")
print(monto_ingreso_total_familiar)

Monto del ingreso total familiar:
0             0
1        350000
2             0
3             0
4        287000
          ...
26484     77000
26485     87700
26486     90000
26487    125700
26488     30000
Name: ITF, Length: 26489, dtype: int64

Ponderador del ingreso total familiar y del ingreso per cápita familiar, para hogares (ver Anexo I)

In [75]:
# Cargar los datos desde los archivos TXT
hogares = pd.read_csv("hogares_tot.urb_3T_2022.txt", sep=';', encoding='latin1')
personas = pd.read_csv("personas_tot.urb_3T_2022.txt", sep=';', encoding='latin1')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8236\1192559962.py:3: DtypeWarning: Columns (63,66) have mixed types. Specify dtype option on import or set low_memory=False.
  personas = pd.read_csv("personas_tot.urb_3T_2022.txt", sep=';', encoding='latin1')

In [77]:
# Fusionar datos de hogares y personas para obtener el género de cada persona en el hogar
datos_completos = pd.merge(hogares, personas, on='CODUSU')

# Mostrar los nombres de todas las columnas
print("Nombres de las columnas:")
print(datos_completos.columns)

Nombres de las columnas:
Index(['CODUSU', 'TRIM', 'ANO4_x', 'AGLOMERADO_x', 'NRO_HOGAR_x',
       'PROVINCIA_x', 'ITF_x', 'IPCF_x', 'REALIZADA', 'PONDIH_x',
       ...
       'V18_M', 'V19_AM', 'ITF_y', 'IPCF_y', 'T_VI', 'TOT_P12', 'P47T', 'P21',
       'INTENSI', 'PONDERA_y'],
      dtype='object', length=226)

In [78]:
# Separar los datos entre mujeres y hombres
datos_mujeres = datos_completos[datos_completos['CH04'] == 2]  # CH04 = 2 corresponde a mujeres
datos_hombres = datos_completos[datos_completos['CH04'] == 1]  # CH04 = 1 corresponde a hombres

# Calcular el ingreso total familiar ponderado para mujeres y hombres
ingreso_total_mujeres = (datos_mujeres['ITF_x'] * datos_mujeres['PONDIH_x']).sum()
ingreso_total_hombres = (datos_hombres['ITF_x'] * datos_hombres['PONDIH_x']).sum()

print("Ingreso total familiar ponderado para mujeres:", ingreso_total_mujeres)
print("Ingreso total familiar ponderado para hombres:", ingreso_total_hombres)

Ingreso total familiar ponderado para mujeres: 3435716578492
Ingreso total familiar ponderado para hombres: 3401824791184

Los resultados muestran que el ingreso total familiar ponderado para mujeres es ligeramente mayor que el de los hombres. Aquí hay algunas observaciones y posibles conclusiones que podríamos hacer a partir de estos datos:

Equilibrio de género en los ingresos: Aunque los ingresos totales familiares ponderados para mujeres son ligeramente más altos que los de los hombres, la diferencia no parece ser significativa. Esto sugiere que en esta muestra, en promedio, no hay una disparidad significativa en los ingresos familiares entre mujeres y hombres.
Contexto socioeconómico: Podríamos examinar más a fondo las características socioeconómicas de las mujeres y los hombres en la muestra para comprender mejor este patrón. Por ejemplo, podríamos analizar la distribución de ingresos dentro de cada grupo para ver si hay diferencias significativas en la distribución.
Factores adicionales: Sería útil considerar otros factores que podrían influir en los ingresos familiares, como la educación, la ocupación, la ubicación geográfica, entre otros. Un análisis más detallado que tenga en cuenta estos factores podría proporcionar una comprensión más completa de las diferencias en los ingresos entre mujeres y hombres en la muestra.